.a{
    margin-left: 10px;
}
#d{
    border-style: double;
    background-color: white;
}
#b{
    background-image: url('img.png');
    border-style: solid ;
    background-repeat: no-repeat;
    padding: 7px;
    height: 500px;
    width: 70%;
    background-size:100%;
    
}
#back{
    background-color: black;
}